/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 30px;
        justify-content: center;
    }
    header main footer .card-txt {
        flex: 1 1 auto;
    }
    .flex {
        display: flex;
    }
    .main-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        /* width: 100%; */
        padding: 0 50px;
        /* box-sizing: border-box; */
    }
    .header {
        display: flex;
        flex-direction: row;
        height: 79px;
        justify-content: space-between;
    }
    .logo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 30px;
        padding-bottom: 30px;
        gap: 10px;
    }
    .logo img {
        height: 19px;
    }
    .nav {
        display: flex;
        padding: 0px 50px;
        gap: 68px;
        width: 385px;
        height: 35px;
        justify-content: space-around;
    }
    .menu {
        height: 35px;
    }
    .menu a {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #0065FC;
        text-decoration: none;
    }
    .info-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .infogroup {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 35px;
    }
    .headline {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
        /* width: 1340px; */
        height: 53px;
        flex: none;
        flex-grow: 0;
        z-index: 0;
    }
    .headline-title {
        font-size: 22px;
        font-weight: 700;
        line-height: 25.83px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .headline-subtitle {
        font-size: 16px;
        font-weight: 400;
        line-height: 18.78px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .search-bar-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid #F2F2F2;
        padding: 0px;
        /* gap: 24px; */
        height: 49px;
    }
    .search-bar-left {
        display: flex;
        align-items: center;
        justify-content: center;
        /* width: 50px; */
        height: 49px;
        background: #F2F2F2;
        border: 1px solid #F2F2F2;
        border-radius: 15px 0px 0px 15px;
    }
    .fa-location-dot {
        display: flex;
        color: black;
    }
    .search-input {
        display: flex;
        /* width: 148px; */
        height: 21px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        /* line-height: 21px; */
        text-align: center;
        border-width: 0px;
    }
    .search-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        padding: 15px 16px;
        gap: 10px;
        /* width: 93px; */
        height: 49px;
        background: #0065FC;
        border: 1px solid #0065FC;
        border-radius: 0px 15px 15px 0px;
        font-weight: 700;
        font-size: 18px;
    }
    .filter-bar-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 15px;
        /* width: 770px; */
        height: 50px;
        flex: none;
        flex-grow: 0;
        z-index: 2;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #000000;
        flex-grow: 0;
    }
    .filter-bars {
        display: flex;
        gap: 15px;
        flex-direction: row;
    }
    .filter {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 4px 19px;
        /* width: 120px; */
        height: 50px;
        border: 2px solid #D9D9D9;
        border-radius: 25px;
        gap: 10px;
        white-space: nowrap;
    }
    .filter i { 
        font-size: 14px;
        font-weight: 700;
        text-align: left;
    }
    .filter:hover {
        background: #DEEBFF;
    }
    .infobar-container {
        display: flex;
        flex-direction: row;
        padding-bottom: 30px;
        gap: 10px;
    }
    .info-icon-container {
        display: flex;
        width: 24px;
        height: 24px;
        border-radius: 24px;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        border: 1px solid #D9D9D9;
    }
    .information {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }
    .accommodation-and-popular {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .accommodation-and-popular section {
        display: flex;
        background-color: var(--main-bg-color);
        border-radius: 15px;
        padding: 30px;
        gap: 30px;
        flex-direction: column;
        align-items: flex-start;
    }
    .accommodation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    .accommodation-container { /* frame 15 */
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    .accommodation-card { /* Card/Main */
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        padding: 0px 0px 15px;
        gap: 4px;
        width: 268px;
        display: flex;
        flex-direction: column;
        /* padding: 0px 20px 15px; */
        /* gap: 4px; */
        /* width: 250.33px; */
        /* height: 207.25px; */
        background: #FFFFFF;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
    }
    .accommodation-card img { /* Rectangle 20 */
        display: flex;
        object-fit: cover;
        box-sizing: border-box;
        width: 268px;
        height: 124px;
        border: 5px solid #FFFFFF;
        border-radius: 20px 20px 0px 0px;
    }
    .accommodation-card-content { /* Frame 16 */
        display: flex;
        flex-direction: column;
        padding: 0px 15px;
        /* gap: 8px; */
        /* width: 250.33px; */
        /* height: 64.25px; */
    }
    .accommodation-card-title { /* Hôtel du port */ /* Card/Title */
        display: flex;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        margin-inline-start: 0px;
        margin-block-end: 0px;
        /* width: 220.33px; */
        /* height: 19px; */
    }
    .accommodation-card-subtitle { /* Nuit à partir de 52€ */
        display: flex;
        /* width: 220.33px; */
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        /* width: 220.33px; */
        /* height: 16px; */
    }
    .dollar {
        display: flex;
        font-size: 14px;
        font-weight: 700;
        line-height: 16.44px;
        text-align: left;
    }
    .accommodation-card-rating {
        display: flex;
        height: 13.25px;
        /* flex: none; */
        /* flex-grow: 0; */
    }
    .neutralStar {
        color: var(--main-bg-color);
        display: flex;
    }
    .accommodation-show-more {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        flex: none;
        flex-grow: 0;
    }
    .popular {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px;
        gap: 20px;
        height: 252px;
    }
    .popular-title {
        display: flex;
        flex-direction: row;
        /* width: 864px; */
        flex-wrap: wrap;
    }
    .popular-title i {
        display: flex;
        /* width: 18px; */
        height: 15.75px;
    }
    .popular-cards {
        display: flex;
        flex-direction: row;
        padding: 0px;
        gap: 20px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 20px;
        height: 146px;
        align-self: stretch;
    }
    .popular-card {
        display: flex;
        flex-direction: row;
        width: 274.67px;
        background: #FFFFFF;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        flex: 1 1 auto;
    }
    .popular-card img { /* Rectangle 24 */
        display: flex;
        width: 33%;
        height: 146px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        object-fit: cover;
        box-sizing: border-box;
        border: 5px solid #FFFFFF;
        border-radius: 5px 0px 5px 5px;
    }
    .popular-card .card-txt {
        display: flex;
        flex-direction: column;
    }
    .popular-cards .card-content {
        /* width: 67%; */
        /* padding-left: 15px; */
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        box-sizing: border-box;
        background: white;
        /* border-top-right-radius: 20px; */
        /* border-bottom-right-radius: 20px; */
    }
    .popular-cards .card-title {
        display: flex;
        margin-top: 10px;
        margin-bottom: 4px;
    }
    .popular-cards .card-subtitle {
        display: flex;
        margin: 0;
    }
    .popular-cards .card-rating {
        margin-bottom: 5px;
        display: flex;
    }
    .activities {
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 30px;
    }
    .activities-title {
        display: flex;
        height: 30px;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #000000;
    }
    .activities-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 30px;
    }
    .activities-card{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* width: 193.5px; */
        height: 270px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
    }
    .activities-card img {
        display: flex;
        width: 193.5px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        /* border-radius: 20px; */
        height: 200px;
        flex: none;
        flex-grow: 0;
    }
    .activities-card .card-title {
        display: flex;
        height: 19px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        flex: none;
        flex-grow: 0;
    }
    .activities-card .card-txt {
        display: flex;
        height: 70px;
        padding-left: 20px;
    }
    .footer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        /* width: 1340px; */
        height: 163px;
        background: #F2F2F2;
    }
    .footerContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        gap: 15px;
        flex: none;
        flex-grow: 1;
    }
    .footerHeader {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        flex: none;
        flex-grow: 0;
    }
    .footerLink {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        flex: none;
        flex-grow: 0;
    }
}
